In [3]:
import numpy as np
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
import random
%matplotlib inline
from matplotlib.dates import DateFormatter, WeekdayLocator, DayLocator, MONDAY

import mysql.connector
from mysql.connector import errorcode
from ittutils import ittconnection, get_resampled, get_raw_price, get_raw_volume, classification_dataset_from_ts

# Update Staging DB

In [4]:
db_connection = ittconnection('prodcopy')
cursor = db_connection.cursor()

In [18]:


# change in the real db the sign of trend
update_1_query = (
    " UPDATE signal_signal SET trend = -1 WHERE `signal` = 'RSI' and `rsi_value` > 50 "
)

update_2_query = (
    " UPDATE signal_signal SET trend = 1 WHERE `signal` = 'RSI' and `rsi_value` < 50 "
)

update_3_query = (
    " UPDATE signal_signal SET trend = -1 WHERE `signal` = 'RSI_Cumulative' and `rsi_value` > 50 "
)

update_4_query = (
    " UPDATE signal_signal SET trend = 1 WHERE `signal` = 'RSI_Cumulative' and `rsi_value` < 50 "
)

#cursor.execute(update_1_query)
#cursor.execute(update_2_query)
#cursor.execute(update_3_query)
#cursor.execute(update_4_query)

In [6]:
query = (" SELECT * FROM signal_signal WHERE `signal` = 'RSI' or `signal` = 'RSI_Cumulative' ")

signals_df = pd.read_sql(query, con=db_connection)

# make index a timestamp relative_strength
signals_df['timestamp'] = pd.to_datetime(signals_df['timestamp'], unit='s')
signals_df.index = pd.DatetimeIndex(signals_df.timestamp)

signals_df.sort_index(inplace=True)

signals_df[['timestamp','id','source','signal','horizon','resample_period','trend', 'rsi_value']]

,timestamp,id,source,signal,horizon,resample_period,trend,rsi_value
timestamp,,,,,,,,
2017-11-27 10:51:34.197150,2017-11-27 10:51:34.197150,24738,0,RSI,0,60,-1,20.533055
2017-11-27 10:52:05.861970,2017-11-27 10:52:05.861970,24739,0,RSI,0,60,-1,26.149210
2017-11-27 10:52:05.861970,2017-11-27 10:52:05.861970,24740,0,RSI,0,60,-1,15.404603
2017-11-27 10:53:38.093490,2017-11-27 10:53:38.093490,24741,0,RSI,0,60,-1,19.703279
2017-11-27 10:53:38.093490,2017-11-27 10:53:38.093490,24743,0,RSI,0,60,1,72.957867
2017-11-27 10:53:38.093490,2017-11-27 10:53:38.093490,24744,0,RSI,0,60,-1,20.548210
2017-11-27 10:55:42.010600,2017-11-27 10:55:42.010600,24746,0,RSI,0,60,-1,18.211466
2017-11-27 10:55:42.010600,2017-11-27 10:55:42.010600,24748,0,RSI,0,60,1,76.534889
2017-11-27 10:55:42.010600,2017-11-27 10:55:42.010600,24750,0,RSI,0,60,-1,19.773801
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24756,0,RSI,1,60,-1,20.580408
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24755,0,RSI,1,60,-1,25.847492
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24751,0,RSI,1,60,-1,8.276870
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24753,0,RSI,1,60,-1,18.825824
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24759,0,RSI,0,60,-1,23.502439
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24760,0,RSI,0,60,-1,28.827193
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24761,0,RSI,0,60,1,79.088193
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24762,0,RSI,0,60,-1,18.585848
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24766,0,RSI,0,60,-1,16.974695
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24765,0,RSI,0,60,1,81.345080
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24763,0,RSI,0,60,-1,23.757232
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24764,0,RSI,0,60,-1,25.965939
2017-11-27 11:01:18.830800,2017-11-27 11:01:18.830800,24771,0,RSI,0,60,-1,24.485258
2017-11-27 11:01:34.804680,2017-11-27 11:01:34.804680,24772,0,RSI,0,60,1,82.283800
2017-11-27 11:01:34.804680,2017-11-27 11:01:34.804680,24773,0,RSI,0,60,-1,16.141312
2017-11-27 11:01:34.804680,2017-11-27 11:01:34.804680,24774,0,RSI,0,60,-1,28.823758
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24775,0,RSI,1,60,-1,7.992487
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24776,0,RSI,1,60,-1,27.445464
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24777,0,RSI,1,60,-1,25.695968
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24778,0,RSI,1,60,-1,18.544722
2017-11-27 11:03:38.493190,2017-11-27 11:03:38.493190,24779,0,RSI,0,60,1,83.125720
...,...,...,...,...,...,...,...,...
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200237,1,RSI,0,60,1,22.578660
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200240,2,RSI,0,60,1,29.847238
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200241,2,RSI,0,60,-1,79.079908
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200244,2,RSI,0,60,-1,74.891672
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200243,1,RSI,0,60,1,29.905571
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200246,2,RSI,0,60,1,26.579085
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200251,1,RSI,0,60,1,24.219362
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200252,1,RSI,0,60,1,28.111992
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200254,1,RSI,0,60,1,24.270927
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200226,1,RSI,0,60,1,26.395526
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200242,2,RSI_Cumulative,0,60,-1,79.079908
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200224,1,RSI,0,60,1,15.310667
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200202,0,RSI,0,60,1,23.066659
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200220,0,RSI,0,60,1,27.657824
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200256,1,RSI,0,60,1,26.539440
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200182,2,RSI,0,60,1,29.585949
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200185,2,RSI,0,60,1,29.181957
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200190,2,RSI,0,60,1,28.672177
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200193,2,RSI,0,60,1,25.585140
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200195,2,RSI,0,60,1,29.589358
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200223,2,RSI,0,60,1,29.018568
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200196,1,RSI,0,60,1,25.590500
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200204,2,RSI,0,60,1,22.085205
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200206,2,RSI,0,60,1,28.635186
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200211,2,RSI,0,60,1,24.494452
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200215,0,RSI,0,60,1,28.676483
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200216,0,RSI,0,60,1,29.800729
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200219,2,RSI,0,60,1,27.913305
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200201,2,RSI,0,60,1,29.687643
2018-05-07 07:00:00.000000,2018-05-07 07:00:00.000000,200258,1,RSI,0,60,1,27.887300

# Update Prod DB

In [ ]:
db_connection_prod = ittconnection('prod')
cursor_prod = db_connection_prod.cursor()

In [ ]:
#cursor_prod.execute(update_1_query)
#cursor_prod.execute(update_2_query)
#cursor_prod.execute(update_3_query)
#cursor_prod.execute(update_4_query)