In [15]:
import numpy as np
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
import random
%matplotlib inline
from matplotlib.dates import DateFormatter, WeekdayLocator, DayLocator, MONDAY

import mysql.connector
from mysql.connector import errorcode
from ittutils import ittconnection, get_resampled, get_raw_price, get_raw_volume, classification_dataset_from_ts

# Create sql for modifieng signals

In [16]:


# change in the real db the sign of trend
update_1_query = (
    " UPDATE signal_signal SET trend = -1 WHERE `signal` = 'RSI' and `rsi_value` > 50 "
)

update_2_query = (
    " UPDATE signal_signal SET trend = 1 WHERE `signal` = 'RSI' and `rsi_value` < 50 "
)

update_3_query = (
    " UPDATE signal_signal SET trend = -1 WHERE `signal` = 'RSI_Cumulative' and `rsi_value` > 50 "
)

update_4_query = (
    " UPDATE signal_signal SET trend = 1 WHERE `signal` = 'RSI_Cumulative' and `rsi_value` < 50 "
)

# Update Staging DB

In [31]:
db_connection = ittconnection('prodcopy')
cursor = db_connection.cursor()
#cursor.execute(update_1_query)
#cursor.execute(update_2_query)
#cursor.execute(update_3_query)
#cursor.execute(update_4_query)
db_connection.commit()
cursor.close()
db_connection.close()

In [32]:
db_connection = ittconnection('prodcopy')
cursor = db_connection.cursor()

#query = (" SELECT * FROM signal_signal WHERE `signal` = 'RSI' or `signal` = 'RSI_Cumulative' ")
#query = (" SELECT * FROM signal_signal WHERE `signal` = 'RSI_Cumulative' and `rsi_value` > 50 and `trend` = 1 ")
query = (" SELECT * FROM signal_signal WHERE id=24743")

signals_df = pd.read_sql(query, con=db_connection)

# make index a timestamp relative_strength
#signals_df['timestamp'] = pd.to_datetime(signals_df['timestamp'], unit='s')
#signals_df.index = pd.DatetimeIndex(signals_df.timestamp)

#signals_df.sort_index(inplace=True)

signals_df[['timestamp','id','source','transaction_currency','signal','horizon','resample_period','trend', 'rsi_value']]

,timestamp,id,source,transaction_currency,signal,horizon,resample_period,trend,rsi_value
0,1.511780e+09,24743,0,LTC,RSI,0,60,-1,72.957867

# Update Prod DB

In [34]:
db_connection_prod = ittconnection('prod')
cursor_prod = db_connection_prod.cursor()
cursor_prod.execute(update_1_query)
cursor_prod.execute(update_2_query)
cursor_prod.execute(update_3_query)
cursor_prod.execute(update_4_query)
db_connection_prod.commit()
cursor_prod.close()
db_connection_prod.close()

# check if update went well

In [35]:
db_connection_prod = ittconnection('prod')
cursor_prod = db_connection_prod.cursor()
query = (" SELECT * FROM signal_signal WHERE `signal` = 'RSI' or `signal` = 'RSI_Cumulative' ")

signals_df = pd.read_sql(query, con=db_connection_prod)

# make index a timestamp relative_strength
signals_df['timestamp'] = pd.to_datetime(signals_df['timestamp'], unit='s')
signals_df.index = pd.DatetimeIndex(signals_df.timestamp)

signals_df.sort_index(inplace=True)

signals_df[['timestamp','id','source','signal','horizon','resample_period','trend', 'rsi_value']]

,timestamp,id,source,signal,horizon,resample_period,trend,rsi_value
timestamp,,,,,,,,
2017-11-27 10:51:34.197150,2017-11-27 10:51:34.197150,24738,0,RSI,0,60,1,20.533055
2017-11-27 10:52:05.861970,2017-11-27 10:52:05.861970,24739,0,RSI,0,60,1,26.149210
2017-11-27 10:52:05.861970,2017-11-27 10:52:05.861970,24740,0,RSI,0,60,1,15.404603
2017-11-27 10:53:38.093490,2017-11-27 10:53:38.093490,24741,0,RSI,0,60,1,19.703279
2017-11-27 10:53:38.093490,2017-11-27 10:53:38.093490,24743,0,RSI,0,60,-1,72.957867
2017-11-27 10:53:38.093490,2017-11-27 10:53:38.093490,24744,0,RSI,0,60,1,20.548210
2017-11-27 10:55:42.010600,2017-11-27 10:55:42.010600,24746,0,RSI,0,60,1,18.211466
2017-11-27 10:55:42.010600,2017-11-27 10:55:42.010600,24748,0,RSI,0,60,-1,76.534889
2017-11-27 10:55:42.010600,2017-11-27 10:55:42.010600,24750,0,RSI,0,60,1,19.773801
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24751,0,RSI,1,60,1,8.276870
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24753,0,RSI,1,60,1,18.825824
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24755,0,RSI,1,60,1,25.847492
2017-11-27 10:56:17.728930,2017-11-27 10:56:17.728930,24756,0,RSI,1,60,1,20.580408
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24762,0,RSI,0,60,1,18.585848
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24761,0,RSI,0,60,-1,79.088193
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24759,0,RSI,0,60,1,23.502439
2017-11-27 10:57:19.157150,2017-11-27 10:57:19.157150,24760,0,RSI,0,60,1,28.827193
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24763,0,RSI,0,60,1,23.757232
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24764,0,RSI,0,60,1,25.965939
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24765,0,RSI,0,60,-1,81.345080
2017-11-27 10:59:31.698350,2017-11-27 10:59:31.698350,24766,0,RSI,0,60,1,16.974695
2017-11-27 11:01:18.830800,2017-11-27 11:01:18.830800,24771,0,RSI,0,60,1,24.485258
2017-11-27 11:01:34.804680,2017-11-27 11:01:34.804680,24772,0,RSI,0,60,-1,82.283800
2017-11-27 11:01:34.804680,2017-11-27 11:01:34.804680,24773,0,RSI,0,60,1,16.141312
2017-11-27 11:01:34.804680,2017-11-27 11:01:34.804680,24774,0,RSI,0,60,1,28.823758
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24778,0,RSI,1,60,1,18.544722
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24777,0,RSI,1,60,1,25.695968
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24775,0,RSI,1,60,1,7.992487
2017-11-27 11:02:21.044260,2017-11-27 11:02:21.044260,24776,0,RSI,1,60,1,27.445464
2017-11-27 11:03:38.493190,2017-11-27 11:03:38.493190,24779,0,RSI,0,60,-1,83.125720
...,...,...,...,...,...,...,...,...
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143243,2,RSI,1,240,1,23.721387
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143242,1,RSI,1,240,-1,72.949819
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143239,2,RSI,1,240,1,21.985079
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143264,2,RSI,1,240,1,24.373853
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143304,2,RSI,0,60,1,28.763933
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143307,2,RSI,1,240,-1,78.630633
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143310,2,RSI,1,240,1,28.836747
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143364,2,RSI,1,240,1,26.759545
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143361,1,RSI,1,240,-1,73.648783
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143358,2,RSI,1,240,1,4.765965
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143357,1,RSI,1,240,-1,78.848919
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143356,1,RSI,1,240,-1,70.698644
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143354,1,RSI,1,240,1,28.651367
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143347,1,RSI,1,240,1,29.193980
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143346,2,RSI,1,240,-1,70.979970
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143345,1,RSI,0,60,1,28.555901
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143343,1,RSI,1,240,1,25.967375
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143342,2,RSI,1,240,1,28.367503
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143341,2,RSI,1,240,-1,71.906475
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143336,1,RSI,1,240,1,27.884551
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143335,2,RSI,1,240,-1,70.617176
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143333,0,RSI,1,240,1,29.804664
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143332,2,RSI,1,240,1,26.119637
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143328,2,RSI,1,240,1,25.556376
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143322,1,RSI,0,60,1,22.568978
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143321,1,RSI,1,240,1,29.426715
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143320,0,RSI,0,60,-1,70.269100
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143314,1,RSI,1,240,-1,76.445046
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143366,2,RSI,0,60,1,29.595989
2018-05-10 08:00:00.000000,2018-05-10 08:00:00.000000,143499,2,RSI,1,240,-1,74.241184